#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='ru','us' --switch='grp:alt_shift_toggle'
# System language
lang ru_RU.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --bootproto=static --device=eth1 --ip={{ip}} --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname={{host}}

# Root password
rootpw --plaintext qwerty-us
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Yekaterinburg --isUtc
user --groups=wheel --homedir=/nfs/user --name=user --password=qwerty-us --plaintext --gecos="user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^compute-node-environment
@base
@core
@debugging
@development
@directory-client
@guest-agents
# @hardware-monitoring
# @infiniband
@network-file-system-client
# @performance
@remote-system-management
@scientific
# @security-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
